###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

/node_modules

/.idea
.DS_Store


client_secret.json
credentials.json


###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
